include README.md
recursive-include octoprint_octo_pantiltcontroller/templates *
recursive-include octoprint_octo_pantiltcontroller/translations *
recursive-include octoprint_octo_pantiltcontroller/static *
